---
title: Checkbox-Group as Buttons
template: demo.jade
---

include /components/includes/mixins.jade

.checkbox-group(data-checkbox-group)
  label.checkbox.checkbox--button(data-checkbox)
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox default
  label.checkbox.checkbox--button(data-checkbox, data-color="#FF1821")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox red
  label.checkbox.checkbox--button(data-checkbox, data-color="#7A9F35")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox green
  label.checkbox.checkbox--button(data-checkbox, data-color="#5C91C0")
    input.checkbox__checkbox(type='checkbox')
    .checkbox__label
      +svg('checkmark', 'checkbox__label__icon')
      .checkbox__label__text Sample checkbox light blue

//- Copyright AXA Versicherungen AG 2015
