---
title: Basic-Dropdown
template: demo.jade
---

include /components/includes/mixins.jade

.form__container
	.form__group(data-form-group)
		label.form__group__label
			.form__group__label__text Country select
			.form__group__label__info-icon
				a.info-icon(data-info, area-describedby='#target', data-target='#target', href='#', role='button')
					+svg('info', 'info-icon__svg')
					+svg('close', ['info-icon__svg', 'info-icon__svg--close'])
		.form__group__control
			.dropdown(data-dropdown)
				.dropdown__label(data-dropdown-label)
					+svg('arrow-bottom', 'dropdown__label__icon')
					.dropdown__label__text(data-dropdown-text)
						select.dropdown__select(data-dropdown-select)
							option(value='') Bitte wählen ...
							option Schweiz
							option Regenbogenland

//- Copyright AXA Versicherungen AG 2015
