---
title: Form Group
template: demo.jade
---

include /components/includes/mixins.jade

.form__container
  .form
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Firstname*
      .form__group__control
        input(type='text').control.control--input
      .form__group__info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    .form__group(data-form-group)
      label.form__group__label.form__group__label--invalid
        .form__group__label__text Lastname*
      .form__group__control
        input(type='text').control.control--input.has-error
      .form__group__error Your name can't contain a number.
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__info-icon
          a.info-icon(data-info, area-describedby='#target', data-target='#target', href='#', role='button')
            +svg('info', 'info-icon__svg')
            +svg('close', ['info-icon__svg', 'info-icon__svg--close'])
        .form__group__label__info-icon-text-wrapper Field with placeholder
      .form__group__control
        input(type='text', placeholder='My placeholder').control.control--input
        .form__info-text(style='display: none;', role='tooltip')#target
          .info-text
            p.paragraph Some meaningful explanation may be placed here
    .form__group(data-form-group)
      .from__group__control.form__group__control--fullwidth
        label.checkbox(data-checkbox)
          input.checkbox__checkbox(type='checkbox')
          .checkbox__label
            +svg('checkmark', 'checkbox__label__icon')
            .checkbox__label__text Full width control
    .form__group
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .segmented-control(data-segmented-control)
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Ja
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Nein
    .form__footnote * Form footnote

//- Copyright AXA Versicherungen AG 2015
