---
title: Form Group
template: demo.jade
---

include /components/includes/mixins.jade

.form__container
  .form
    //- Default input
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Firstname (optional)
        .form__group__label__info-icon
          a.info-icon(data-info, area-describedby='#target', data-target='#target', href='#', role='button')
            +svg('info', 'info-icon__svg')
            +svg('close', ['info-icon__svg', 'info-icon__svg--close'])
      .form__group__control
        input(type='text').control.control--input
      .form__group__info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    //- Input with error
    .form__group(data-form-group)
      label.form__group__label.form__group__label--invalid
        .form__group__label__text Lastname
      .form__group__control
        input(type='text').control.control--input.has-error
      .form__group__error Your name can't contain a number.
    //- Input with placeholder
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Field with placeholder
      .form__group__control
        input(type='text', placeholder='My placeholder').control.control--input
    //- Prefilled input
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Prefilled
      .form__group__control
        input(type='text', value='My content').control.control--input
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Multiline
        .form__group__label__info-icon
          a.info-icon(data-info, area-describedby='#target', data-target='#target', href='#', role='button')
            +svg('info', 'info-icon__svg')
            +svg('close', ['info-icon__svg', 'info-icon__svg--close'])
      .form__group__control
        textarea.control.control--textarea(type='text',data-autogrow='autogrow')
    //- Disabled input
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Disabled Input
      .form__group__control
        input(type='text', disabled).control.control--input
    //- Select
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Country select
        .form__group__label__info-icon
          a.info-icon(data-info, area-describedby='#target', data-target='#target', href='#', role='button')
            +svg('info', 'info-icon__svg')
            +svg('close', ['info-icon__svg', 'info-icon__svg--close'])
      .form__group__control
        .dropdown(data-dropdown)
          .dropdown__label(data-dropdown-label)
            +svg('arrow-bottom', 'dropdown__label__icon')
            .dropdown__label__text(data-dropdown-text)
          select.dropdown__select(data-dropdown-select)
            option(value='') Bitte wählen ...
            option Schweiz
            option Regenbogenland
      .form__group__info Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    //- Select
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Select with many options
      .form__group__control
        .dropdown(data-dropdown)
          .dropdown__label(data-dropdown-label)
            +svg('arrow-bottom', 'dropdown__label__icon')
            .dropdown__label__text(data-dropdown-text)
          select.dropdown__select(data-dropdown-select)
            option(value='') Bitte wählen ...
            option Option 1
            option Option 2
            option Option 3
            option Option 4
            option Option 5
            option Option 6
            option Option 7
            option Option 8
            option Option 9
            option Option 10
            option Option 11
            option Option 12
            option Option 13
            option Option 14
            option Option 15
            option Option 16
            option Option 17
            option Option 18
            option Option 19
            option Option 20
    //- Birthday field
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Birthday
      .form__group__control
        .datepicker.datepicker--birthday-v2(data-datepicker-birthday-v2)
          input(type='text').control.control--input.control--birthday
          input.control.control--input.birthday--day(placeholder="TT", maxlength="2")
          span .
          input.control.control--input.birthday--month(placeholder="MM", maxlength="2")
          span .
          input.control.control--input.birthday--year(placeholder="JJJJ", maxlength="4")
    //- Regular Datepicker
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Datepicker
      .form__group__control
        .datepicker#myDatepicker(
          data-datepicker-watch="#myDatepickerInput",
          data-datepicker-display-week,
          data-datepicker-icon-prev=relative('/images/icons.svg#arrow-left'),
          data-datepicker-icon-next=relative('/images/icons.svg#arrow-right')
        )
          .datepicker__trigger(data-datepicker="#myDatepicker")
            +svg('calendar', 'datepicker__trigger__icon')
          .datepicker__input
            input(type='text').control.control--input#myDatepickerInput
    //- Checkbox
    .form__group(data-form-group)
      .from__group__control.form__group__control--fullwidth
        label.checkbox(data-checkbox)
          input.checkbox__checkbox(type='checkbox')
          .checkbox__label
            +svg('checkmark', 'checkbox__label__icon')
            .checkbox__label__text Full width control
    //- Segemented control
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .segmented-control(data-segmented-control)
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Ja
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Nein
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .segmented-control(data-segmented-control)
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Ja
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Nein
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Vielleicht
    .form__group(data-form-group)
      label.form__group__label
        .form__group__label__text Form label
      .form__group__control
        .segmented-control(data-segmented-control)
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Ja
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Nein
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Vielleicht
          label.segmented-control__item
            input.segmented-control__item__radio(type='radio', name='bar')
            span.segmented-control__item__label Beide
    .form__footnote * Form footnote

//- Copyright AXA Versicherungen AG 2015
