---
title: Review
template: demo.jade
---

include /components/includes/mixins.jade

.review
  h3.review__heading Wie ist der Schaden entstanden
  ul.review__items
    li.review__item
      h4.review__label Hergang
      .review__content Lorem ipsum ...
    li.review__item
      h4.review__label Hergang
      .review__content Lorem ipsum ...
  a.review__edit.link(href='#', title='Eingabe anpassen') ändern

//- Copyright AXA Versicherungen AG 2015
