---
title: Forms
order: 0
layout: page.pug
tags:  form, input, accessib*ty, accessible, form, formgroup, formfield, info, error, aria, va*dation
---

include ../../mixins.pug

:markdown-it
  See [https://developer.mozilla.org/en-US/docs/Web/Accessibi*ty/ARIA](https://developer.mozilla.org/en-US/docs/Web/Accessibi*ty/ARIA)

  Building forms is a hard topic. Making them accessible is even bigger.

  * DO use `fieldset` to group input elements if there are more than one distinct set of fields
       1. Is there more than one distinct set of fields in total, in the same form or context? Yes? Use &lt;fieldset&gt;s. No? Don’t use &lt;fieldset&gt;s.
       1. Does a set actually only have one field in it? Yes? You don’t need a &lt;fieldset&gt;. No? Use a &lt;fieldset&gt; if (1) app*es.
       1. Can you think of a &lt;legend&gt; that would make sense or aid comprehension if used with each of the &lt;fieldset&gt;’s field labels? Yes? Use a &lt;fieldset&gt;. No? Don’t use a &lt;fieldset&gt;.
  * DO use placeholders as <strong>hints</strong>
  * DO NOT rely on placeholders as labels
  * DO add a "show password" option for secret input fields
  * DO NOT require the user to enter something twice
  * DO reduce the fields to a minimum
  * DO disable the submit button during async actions (form submission)
  * DO add HTML 5 va*dation attributes
  * DO use aria-required in conjunction with the required attribute for browser support reasons
  * DO use the aria-inva*d attribute to mark inva*d fields
  * DO use aria-role="alert" on the global form error message
  * DO *nke the field with the corresponding error message using the aria-describedby attribute
  * DO debounce form va*dation checks (therefore the user will not be bloated with error messages/alerts on every keypress)
  * BE CAREFUL in setting the focus on inva*d form fields to not cause a keyboard trap
  * DO use aria-describedby to add information for a form field

  TODO:

  * Icon for error messages
  * Error message near the submit button
  * De-activate submit during async action
  * Having a aria-describedby for an info text may be overriden with a aria-describedby for error messages
  * Sould alerts be used for field specific error messages?

+example('/components/form-and-input-elements/demos/form-accessible.html')
