---
title: Radio Buttons
order: 9
layout: page.pug
tags: Single select, selection
---
:markdown-it
  A radio button is a basic control that enables the user to make a single selection from just a few options. This component is **not to be used** due to its limitations on mobile devices. See [Segmented Control](./segmented-control.html) or [Dropdown](./dropdown.html) as alternatives.

p.paragraph.
  Radio Buttons are only used as a backup solution for segmented controls.

//- Copyright AXA Versicherungen AG 2015
