@import '../mixins/respond';
@import '../blocks/info-icon';

.form__container {
  max-width: 535px;
  margin: 0 auto;
}

.form__group {

  margin-bottom: 15px;

  .respond(medium, {
    margin-bottom: 20px;
  });
}

.form__group--condensed {
  margin-bottom: 14px;

  .form__group__label {
    margin-bottom: 0;

    font-size: 1em;

    color: @color-gray--darker;
  }
}

.form__group__label {
  line-height: 40px; // used for vertical-alignment
  color: @color-gray--darker;
  font-size: 1.2em;

  .form__group__label__text {
    display: block;
    line-height: 1.8; // reset
    vertical-align: middle;
  }

  .form__group__label__info-icon {
    float: right;
    width: @info-icon-diameter;
    margin-bottom: -15px;

    .info-icon__svg {
      width: 22px;
      height: 22px;
    }

    .respond(medium; {
      width: @info-icon-diameter--medium;
      margin-top: 5px;
    });
  }

  .form__group__label__info-icon-text-wrapper {
    display: block;

    margin-right: @info-icon-diameter + 10px;

    .respond(medium; {
      line-height: 40px;
      margin-right: @info-icon-diameter--medium + 20px;
    });
  }
}

.form__group.focused {
  .form__group__label:not(.form__group__label--invalid) .form__group__label__text {
    color: @color-light-blue;
  }
}

.form__group__label--invalid {
  .form__group__label__text {
    color: @color-red;
  }
}

.form__group__info {
  color: @color-gray--dark;
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 15px;
}

.form__group__error {
  color: @color-red;
  font-size: 1em;
  line-height: 1.4em;
  margin-top: 15px;
}

.form__info-text {
  margin-top: 10px;
}

.form__error-message {
  margin: 5px 0 0 0;
  color: #ff0000;
}

.form__footnote {
  margin: 50px 0 50px 0;
}

// Copyright AXA Versicherungen AG 2015
