.review {
  margin: 15px;
  
  .review__label {
    font-weight: 200;
    margin-bottom: 0;
  }

  .review__content {
    font-weight: bold;
    margin-bottom: 10px;
  }

  .review__items {
    padding: 0;
    margin: 0;
    list-style: none;
    
    .review__item {
      padding: 0;
      margin: 0;
    }
  }

}

// Copyright AXA Versicherungen AG 2015
