---
title: Vertical Rhythm
order: 2
layout: page.pug
tags: vertical-rhythm, margin, distances, layout
---

p.paragraph.
  New components not only neat to be neatly aligned with adjacent components, in fact they even should neatly align with every possible component anywhere on the page.
  How to solve this, right? It's impossible...
  Yes it's hard, it need's some clever styling, conceptual understanding of the in and outs of the CSS Layout Module and at the end we get it.
  <b>Drum roll pleaseee...</b>

p.
  Here it goes, the holy grail rules of <b>vertical rhythm</b>:

ul
  li Single Direction Margin - we go for <code>margin-top</code>
  li.
    Systematic Distances </br>
    Our Rhythm is: <code>8px</code>

p In some exceptional cases you are allowed to use <code>margin-bottom</code>

ul
  li negative margins, yeah
  li Elements which are out of document flow, like: positioned elements, floats, etc.
  li Flex items

h3 Some nice references

ul
  li: a(href='https://csswizardry.com/2012/06/single-direction-margin-declarations/' target='blank') Single-direction margin declarations
  li: a(href='https://css-tricks.com/what-you-should-know-about-collapsing-margins/' target='blank') What You Should Know About Collapsing Margins
  li: a(href='http://typecast.com/blog/4-simple-steps-to-vertical-rhythm' target='blank') 4 Simple Steps to Vertical Rhythm
  li: a(href='https://zellwk.com/blog/why-vertical-rhythms/' target='blank') Why is Vertical Rhythm an Important Typography Practice?
  li: a(href='https://scotch.io/tutorials/aesthetic-sass-3-typography-and-vertical-rhythm' target='blank') Aesthetic Sass 3: Typography and Vertical Rhythm
