@import '../variables';

/** @define backdrop */

.backdrop {}

.backdrop__shadow {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-backdrop;

  padding: 0;
  overflow: auto;

  background: $color-black;
  opacity: 0.75;
}

.backdrop__shadow--light {
  background: $color-white;
  opacity: 0.95;
}

.backdrop__content {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $z-index-backdrop-content;

  padding: 0;
  overflow: auto;
}

.backdrop__content--centered {
  display: flex;

  justify-content: center;
  align-items: center;
}

// Copyright AXA Versicherungen AG 2015
