@import '../variables';

/** @define badge */

.badge {
  display: inline-block;

  min-width: 20px;
  min-height: 20px;
  padding: 3px 7px;

  font-size: $font-size-small;
  font-style: normal;
  line-height: 1;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  background-color: $color-red;
  border-radius: 10px;
}

// Copyright AXA Versicherungen AG 2015
