@import '../variables';
@import '../mixins/respond';
@import '../mixins/invisible-font';

/** @define brand */

.brand {
  display: flex;
  padding: 20px ($grid-gutter-width / 2);

  text-decoration: none;
}

.brand__image {
  width: 158px;
  height: 37px;

  @include respond(large) {
    width: 230px;
    height: 54px;
  }
}

// Copyright AXA Versicherungen AG 2015
