@import '../variables';
@import '../mixins/clearfix';
@import '../mixins/respond';
@import '../mixins/invisible-font';

/** @define bubble */

.bubble {
  position: relative;

  max-width: 640px;
  min-height: 197px;
  margin: 60px 0 45px;

  background: $color-light-blue;

  &::after {
    position: absolute;
    bottom: -30px;
    left: 100px;

    display: block;
    width: 30px;
    height: 30px;

    border-bottom: 30px solid $color-white;
    border-left: 30px solid $color-light-blue;

    content: '';
  }
}

.bubble__image {
  position: absolute;
  top: 0;
  right: 0;

  width: 220px;
  padding: 30px 30px 30px 0;
}

.bubble__content {
  padding: 30px;
  margin-right: 220px;

  color: $color-white;
}

.bubble__title {
  @include clearfix();
}

.bubble__title__text {
  float: left;
  padding: 0 50px 5px 1px;

  border-bottom: 4px solid $color-white;
}

// Copyright AXA Versicherungen AG 2015
