@import '../variables';

/** @define checklist */

.checklist {
  padding: 0;
  margin: 25px 0 35px;

  list-style-type: none;
}

.checklist__item {
  margin: 0 0 10px;
}

.checklist__item__icon {
  display: inline-block;
  float: left;
  width: 40px;
  margin-top: 2px;

  color: $color-green;
}

.checklist__item__content {
  margin-left: 40px;
}

// Copyright AXA Versicherungen AG 2015
