@import '../variables';
@import './icon';
@import '../mixins/font';
@import '../mixins/respond';

/** @define chips */

.chips {
  position: relative;
}

.chips__field {
  display: block;
  width: 100%;
  padding-right: 2px;
  padding-bottom: 2px;

  color: $color-black;

  background: $color-gray--lighter;

  border: $focus-border-width solid $color-gray--lighter;
  border-radius: 0;

  -webkit-appearance: none;

  @include respond(medium) {
    padding-right: 4px;
    padding-bottom: 4px;
  }

  &.has-error {
    border-color: $color-red;
  }

  &.is-active {
    border-color: $color-light-blue;
    outline: none;
  }
}

.chips__chip {
  display: inline-flex;
  height: 2rem;
  margin-top: 4px;
  margin-left: 5px;

  align-items: center;

  background: $color-gray--dark;
}

.chips__chip__text {
  @include make-font-medium();

  padding-left: 1rem;

  flex-grow: 1;

  color: $color-white;
}

.chips__chip__close-button {
  display: flex;
  width: 1.8em;
  height: 100%;

  justify-content: center;
  align-items: center;

  color: $color-gray--light;
  text-align: center;

  &:hover {
    color: $color-white;
  }
}

.chips__chip__close-button__icon {
  display: block;
  width: 1rem;
  height: 1rem;
}

.chips__input {
  margin: 0.5rem;

  background: transparent;
  border: none;

  &:focus {
    outline: none;
  }
}

// Copyright AXA Versicherungen AG 2016
