@import '../variables';

/** @define code */

.code {
  padding: 2px 4px;

  font-size: $font-size-small;
  color: $color-gray--darkest;

  background: $color-gray--lighter;

  border-radius: 3px;
}

// Copyright AXA Versicherungen AG 2015
