@import '../variables';
@import '../mixins/clearfix';
@import '../mixins/respond';

/** @define copyline-menu */

.copyline-menu {
  @include clearfix();

  padding: 0;
  margin: 0 -12.5px;

  list-style-type: none;
}

.copyline-menu__item {
  @include respond(medium) {
    float: left;

    border-right: 1px dotted $color-gray--mid;

    &:last-child {
      border-right: none;
    }
  }
}

.copyline-menu__text,
.copyline-menu__link {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 12.5px;

  line-height: 40px;

  @include respond(medium) {
    height: auto;

    font-size: $font-size-small;
    line-height: 30px;
  }
}

.copyline-menu__link {
  color: $color-gray--darkest;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

// Copyright AXA Versicherungen AG 2015
