@import '../mixins/respond';
@import '../variables';
@import './control';

// TODO: Instead of viewport we should consider usage of a --js which will be
// added when js is available and it is a non-touch device

.example {
  overflow: visible !important;
}

.datepicker {
  @extend .clearfix;

  @include respond(medium) {
    @include control--short();
  }
}

.datepicker--condensed {
  @include control--condensed();

  .datepicker__trigger,
  .datepicker__trigger__icon {
    height: $control-height-condensed;
  }
}

.datepicker__input {
  margin-right: 40px;
}

.datepicker__trigger {
  cursor: pointer;

  display: block;
  position: relative;
  float: right;

  width: 40px;
  height: 40px;
  padding: 0 10px;

  background: $color-blue-gray--light;
}

.datepicker__trigger__icon {
  width: 20px;
  height: 40px;
  fill: $color-light-blue;
  display: inline-block;
  vertical-align: middle;
}

.datepicker__trigger__mobile {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  height: 100% !important;
  width: 100% !important;
  opacity: 0 !important;
  background: transparent !important;
}

.picker {
  display: none;
  position: absolute;
  width: 280px;
  border-collapse: collapse;
  margin-top: 6px;
  z-index: $z-index-datepicker;
  background: $color-gray--dark;

  &.is-active {
    display: block;
  }
}

.picker__header {
  padding: 10px 10px 0 10px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.picker__headline {
  line-height: 31px;
  font-size: 1.1428em;
  text-align: center;
  padding: 0px 5px;
  cursor: pointer;
  &:hover {
    background-color: $color-gray--light;
  }

}

.picker__prev,
.picker__next {
  display: inline-block;
  width: 32px;
  height: 32px;
  position: relative;
  overflow: hidden;

  &:hover {
    .picker__icon--next,
    .picker__icon--prev {
      border-color: $color-gray--light;
    }
  }
}

.picker__icon--next {
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 1px 1px 0 0;
  transform: rotate(45deg);
  margin: 10px 0 0 16px;
}

.picker__icon--prev {
  width: 10px;
  height: 10px;
  border: solid white;
  border-width: 1px 1px 0 0;
  transform: rotate(-135deg);
  margin: 10px 0 0 5px;
}

.picker__content {
  box-sizing: content-box;
  padding: 4px;
}

.picker__months, .picker__years, .picker__days {
  display: flex;
  flex-wrap: wrap;
  height: 200px;
}

.picker__day {
  line-height: 1.375;
  box-sizing: border-box;
  border: 1px solid $color-gray--dark;
  width: (100% / 7);
  color: $color-light-blue;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.is-active {
    background: $color-light-blue;
    color: white;
  }
}

.picker__year {
  box-sizing: border-box;
  border: 1px solid $color-gray--dark;
  width: (100% / 4);
  color: $color-light-blue;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.is-active {
    background: $color-light-blue;
    color: white;
  }
}

.picker__month {
  box-sizing: border-box;
  border: 1px solid $color-gray--dark;
  width: (100% / 3);
  color: $color-light-blue;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover,
  &.is-active {
    background: $color-light-blue;
    color: white;
  }
}

.picker__day--today {
  background: $color-gray--light;
}

.picker__day--headline {
  font-size: 0.9285em;
  background: transparent;
  color: white;
  cursor: default;

  &:hover {
    background: transparent;
  }
}

.picker__day--prev-month,
.picker__day--next-month {
  background: $color-gray;
  color: white;
}

.picker__day--disabled {
  background: $color-gray--dark;
  color: white;
  cursor: default;

  &:hover {
    background: $color-gray--dark;
    color: white;
  }
}

// Birthday Datepicker styles:

.datepicker--birthday {
  display: flex;
  max-width: none !important;

  flex-direction: column;

  .control--birthday {
    display: none;
  }

  @include respond(large) {
    flex-direction: row;

    .birthday--day {
      flex: 3;
      min-width: 120px;
    }
    .birthday--month {
      flex: 5;
      min-width: 190px;
    }
    .birthday--year {
      flex: 3;
      min-width: 120px;
    }
  }
}

// Copyright AXA Versicherungen AG 2015
