@import './modal2';
@import '../mixins/word-break';

/** @define dialog */

$dialog-padding: 15px;

.dialog {
  display: none;
  height: 100%;

  flex-direction: column;
  align-items: stretch;

  background: transparent;

  .is-open & {
    display: flex;
  }
}

.dialog__header {
  padding: 0 15px;
  margin-top: 0;

  color: $color-white;

  background: $color-blue;

  @include respond(medium) {
    margin-top: auto;

    background: $color-white;
  }
}

.dialog__heading {
  @include word-break();

  padding: 10px 0;
  margin: 0;

  font-size: 18px;
  font-weight: normal;
  line-height: 1.2;

  @include respond(medium) {
    padding: 0 ($grid-gutter-width / 2) 18px;
    margin-top: 54px;

    font-size: 2rem;
    font-weight: 700;
    line-height: 1.15;
    color: $color-black;

    background: $color-white;
  }
}

.dialog__close {
  display: block;
  float: right;
  width: 40px;
  height: 40px;

  font-size: 14px;
  line-height: 40px;
  color: $color-white;
  text-align: center;

  cursor: pointer;

  background: transparent;
  border: none;
  outline: none;

  &:hover,
  &:focus {
    color: $color-white;
  }

  @include respond(medium) {
    margin-top: 20px;

    font-size: 21px;
    color: $color-gray--darker;

    &:hover,
    &:focus {
      color: $color-blue;
    }
  }
}

.dialog__close__icon {
  margin-top: 8px;
}

.dialog__content {
  height: 100%;
  max-height: 100%;
  padding: $dialog-padding;
  margin-top: 0;
  margin-bottom: 0;
  -webkit-overflow-scrolling: touch;
  overflow-x: hidden;
  overflow-y: auto;

  background: $color-white;

  @include respond(medium) {
    height: auto;
    padding: 0 $grid-gutter-width;
  }
}

.dialog__footer {
  margin-bottom: 0;

  text-align: center;

  background: $color-gray--lighter;

  @include respond(medium) {
    margin-bottom: auto;

    text-align: right;

    background: $color-white;
  }
}

.dialog--top {
  @include respond(medium) {
    .dialog__header {
      margin-top: 0;
    }

    .dialog__footer {
      margin-top: 0;
    }
  }
}

.dialog--bottom {
  @include respond(medium) {
    .dialog__header {
      margin-top: auto;
    }

    .dialog__footer {
      margin-bottom: 0;
    }
  }
}
