/** @define dropzone-fallback */

.dropzone-fallback {
  height: 80px;
}

.dropzone-fallback__input {
  display: none;
}

.dropzone-fallback__button {
}

.dropzone-fallback__button__icon {
}

.dropzone-fallback__button__text {
  margin-left: 10px;
}

// Copyright AXA Versicherungen AG 2015
