@import '../blocks/link';
@import '../variables';

/** @define dropzone */

.dropzone {
  background-color: $color-gray--lighter;
}

.dropzone__container {
  height: 80px;

  border: 2px dashed $color-gray;
}

.dropzone__container--dragover {
  border-color: $color-light-blue--light;
}

.dropzone__icon-container {
  float: left;

  height: 100%;
  padding: 0 20px;
}

.dropzone__icon {
  width: 2.25em;
  height: 2.25em;
  margin-top: 20px;
  margin-bottom: 20px;

  color: $color-gray;
}

.dropzone__text-container {
  display: table;
  height: 100%;
}

.dropzone__text {
  display: table-cell;

  color: $color-gray--dark;
  vertical-align: middle;
}

.dropzone__text__upload-link {
  @include link();

  font-variant: small-caps;
  font-size: 18px;

  &:hover {
    cursor: pointer;
  }
}

.dropzone__input {
  display: none;
}

// Copyright AXA Versicherungen AG 2015
