@import '../mixins/respond';
@import '../blocks/paragraph';
@import '../variables';

/** @define example-header */

$example-header__sticky-height: 40px !default;
$example-header__sticky-height--medium: 70px !default;

.example-header {
  padding-top: $example-header__sticky-height;

  background: $color-blue;
}

.example-header__text {
  padding: 20px 0;

  color: $color-white;

  @include respond(medium) {
    padding: 40px 0;
  }
}

.example-header__paragaph {
  @extend .paragraph;

  max-width: 600px;
  padding: 0 20px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
}

.example-header__sticky {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: $z-index-example-header;

  height: $example-header__sticky-height;

  background: $color-blue;

  @include respond(medium) {
    height: $example-header__sticky-height--medium;
  }
}

.example-header__link {
  color: $color-white;
  text-decoration: underline;

  &:hover {
    color: $color-white;
  }
}

.example-header__back {
  position: absolute;
  left: 0;

  display: block;
  height: $example-header__sticky-height;
  padding-left: 20px;

  font-size: 0;
  line-height: $example-header__sticky-height;
  color: $color-white;

  @include respond(medium) {
    height: $example-header__sticky-height--medium;

    font-size: 12px;
    line-height: $example-header__sticky-height--medium;
  }

  &:hover {
    color: $color-white;
  }

  &::before {
    padding-right: 10px;
    margin-top: -2px;

    font-size: 28px;
    vertical-align: middle;
  }
}

.example-header__back__icon {
  width: 28px;
  height: 28px;
  padding-right: 10px;

  vertical-align: middle;
}

.example-header__headline {
  font-size: 20px;
  line-height: $example-header__sticky-height;
  color: $color-white;
  text-align: center;

  @include respond(medium) {
    line-height: $example-header__sticky-height--medium;
  }
}

// Copyright AXA Versicherungen AG 2015
