@import '../variables';

/** @define multi-upload */

.multi-upload__remarks {
  margin: 10px 0;
}

/** @define file-list */

.file-list {
  margin-top: 10px;
}

.file-list__file {
  padding: 15px 10px;

  border: 1px solid $color-gray;
  border-bottom-width: 0;

  &:last-of-type {
    border-bottom-width: 1px;
  }
}

/** @define file-error */

.file-error__message {
  margin: 10px 10px 0;

  color: $color-red-error;
}

/** @define file-uploaded */

.file-uploaded {
}

.file-uploaded__title {
  margin-top: -1px;
  margin-right: 158px;
  margin-left: 10px;
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.file-uploaded__actions {
  float: right;
  width: 158px;
  margin-top: -3px;
}

.file-uploaded__actions__action {
  margin: 0 10px;

  font-variant: small-caps;
  font-size: 17px;

  &:hover {
    cursor: pointer;
  }
}

// Copyright AXA Versicherungen AG 2015
