@import '../variables';
@import '../mixins/font';
@import '../mixins/respond';
@import '../mixins/unstyle-list';

/** @define footer-links */

.footer-links {
}

.footer-links__headline {
  @include make-font-heading-tertiary();

  padding: 48px 0 24px;
  margin: 0;

  @include respond(large) {
    padding: 32px 0;
  }
}

.footer-links__menu {
  @include unstyle-list();

  margin: 0 -30px;

  @include respond(large) {
    column-count: 2;
    break-inside: avoid;

    margin: -8px 0 0;
  }
}

.footer-links__item {
  margin-bottom: -1px;

  @include respond(large) {
    display: inline-block;
    width: 100%;
    margin: 0;
  }
}

.footer-links__link {
  @include make-font-large();

  display: flex;
  height: 56px;
  padding: 0 30px;

  align-items: center;

  color: $color-gray--darker;
  text-decoration: none;

  border-top: 1px solid $color-gray--light;
  border-bottom: 1px solid $color-gray--light;

  &:hover {
    color: $color-blue;
  }

  @include respond(large) {
    height: 32px;
    padding: 0;

    border: none;
  }
}

.footer-links__text {
  @include make-font-medium-semibold();

  flex-grow: 1;
}

.footer-links__icon {
  width: 24px;
  height: 24px;
  margin-left: 20px;

  @include respond(large) {
    display: none;
  }
}

// Copyright AXA Versicherungen AG 2015
