@import '../variables';
@import '../mixins/font';
@import '../mixins/make-link';
@import './control';

/** @define header-search */

.header-search {
  @include make-link();

  display: flex;
}

.header-search__input {
  @include make-font-large();
  @include control();
  @include control--input();

  width: 17rem;
  height: 100%;

  padding: 1rem;
  padding-right: 4rem;

  color: $color-gray--darker;

  background-color: $color-gray--mid;
  border: 0;
}

.header-search__button {
  width: 3.5rem;
  padding: 1rem;
  margin: 0;

  background-color: $color-gray--mid;
  border: none;
}

.header-search__icon {
}

.header-search__suggestions {
  top: 3.5rem;
  left: 0;
}
