@import '../mixins/respond';
@import '../mixins/make-container';
@import '../mixins/make-row';
@import '../mixins/make-column';
@import '../mixins/make-column-span';
@import '../mixins/make-link';
@import '../mixins/unstyle-list';
@import '../mixins/font';
@import '../variables';
@import './icon';

/** @define icon-teaser */

.icon-teaser {
  @include make-container();

  max-width: $grid-breakpoint-lg;
}

.icon-teaser__items {
  @include unstyle-list();
  @include make-row();

  padding-top: 4rem;

  @include respond(large) {
    padding-top: 0;
  }
}

.icon-teaser__item {
  @include make-column();
  @include make-column-span(12);

  display: flex !important;
  padding-top: 3rem;
  padding-bottom: 3rem;

  flex-direction: column;
  align-items: center;

  text-decoration: none;

  outline: none;

  @include respond(large) {
    @include make-column-span(4);
  }
}

.icon-teaser__item__icon-wrapper {
  display: flex;
  width: 5rem;
  height: 5rem;

  justify-content: center;
  align-items: center;

  flex-grow: 0;
  flex-shrink: 0;

  background: $color-white;
  border: 2px solid $color-blue-gray--light;
  border-radius: 2.5rem;
}

.icon-teaser__item__icon {
  @extend .icon;

  width: 2rem;
  height: 2rem;

  color: $color-blue;
}

.icon-teaser__item__title {
  @include make-font-medium-semibold();

  margin: 1.5rem 0 0;

  color: $color-blue-gray;
}

.icon-teaser__item__text {
  @include make-font-heading-tertiary();

  max-width: 300px;
  margin: 1rem 0 0;

  flex-grow: 1;

  text-align: center;
}

.icon-teaser__item__action {
  @include make-font-medium-semibold();
  @include make-link();

  display: flex;
  padding: 15px 2rem;
  margin: 2rem 0 0;

  justify-content: center;
  align-items: center;

  flex-shrink: 0;

  background: $color-white;
  border: 2px solid $color-blue-gray--light;
  transition: all $transition-duration-fast;

  @include respond(large) {
    padding: 13px 2rem 14px;
  }

  &:hover,
  &:focus {
    color: $color-blue;

    background: $color-white;
    border-color: $color-blue;
  }
}

.icon-teaser__item__action2 {
  margin: 0;

  flex-shrink: 0;
}

.icon-teaser .slick-dots {
  position: absolute;
  top: 0;

  display: flex;
  width: 100%;
  height: 4rem;
  padding: 0;
  margin: 0;

  flex-wrap: nowrap;

  background-color: $color-white;

  /* stylelint-disable plugin/selector-bem-pattern */
  li {
    height: 100%;
    padding: 0;
    margin: 0;

    flex-grow: 1;

    list-style-type: none;
  }
  /* stylelint-enable */

  @include respond(large) {
    display: none;
  }
}

.icon-teaser__link {
  @include make-link();

  display: flex;
  width: 100%;
  height: 100%;
  padding: 0.5rem ($grid-gutter-width / 2);

  justify-content: center;
  align-items: flex-end;

  font-size: 0.875em;
  font-weight: 600;
  text-align: center;

  border-bottom: 5px solid transparent;
  outline: none;
  transition: all 0.25s ease;

  /* stylelint-disable plugin/selector-bem-pattern */
  &:hover,
  .slick-active & {
    color: $color-blue;

    border-color: $color-blue;
  }
  /* stylelint-enable */
}
