@import '../variables';
@import '../mixins/respond';

/** @define menu-main */

.menu-main {
  display: flex;
  padding: 0;
  margin: 0;

  align-items: flex-end;

  font-size: 1.1em;
  font-weight: $font-weight-medium;
  list-style-type: none;
}

.menu-main__item {
  padding: 0;
  margin: 0;
}

.menu-main__link {
  display: block;
  height: 100%;
  padding: 8px ($grid-gutter-width / 2) 1rem;

  line-height: 1.2;
  color: $color-gray--darker;
  text-align: center;
  text-decoration: none;

  border-bottom: 5px solid transparent;

  &.is-active,
  &:hover {
    color: $color-blue;
    cursor: pointer;

    border-color: $color-blue;
  }
}

.menu-main__link__home {
  display: inline-block;
  width: 16px;
  height: 44px;

  fill: currentColor;
}

.menu-main__content {
  position: absolute;
  top: 155px;
  right: 0;
  left: 0;

  display: none;
}

.menu-main__panel {
  position: absolute;
  right: 0;
  left: 0;
  z-index: $z-index-menu-main__panel;

  display: none;
  padding: 0.5rem 1.5rem 2rem;

  background-color: $color-white;
  border-top: 5px solid $color-blue;
  border-bottom: 5px solid $color-blue;
  box-shadow: 25px 0 34px -12px rgba($color-black, 0.25), -25px 0 34px -12px rgba($color-black, 0.25), 0 25px 34px -12px rgba($color-black, 0.25);

  .menu-main__item:hover &,
  &.is-open {
    display: block;
  }
}

.menu-main__category {
  @include make-font-heading-secondary();

  padding: 1.5rem 0;
}

// Copyright AXA Versicherungen AG 2015
