@import '../variables';
@import '../mixins/respond';

/** @define mobile-actions */

.mobile-actions {
  display: flex;
}

.mobile-actions__item {
  z-index: $z-index-burger-icon;

  display: flex;
  padding: 0 ($grid-gutter-width / 2);

  justify-content: center;
  align-items: center;

  color: $color-gray--darker;
  cursor: pointer;

  &:hover,
  &:focus {
    color: $color-blue;
  }
}

.mobile-actions__icon {
  display: block;
}

// Copyright AXA Versicherungen AG 2015
