// TODO: Destroy hierarchies with more BEM

@import '../variables';
@import '../mixins/font';
@import '../mixins/respond';
@import '../mixins/unstyle-list';
@import '../mixins/word-break';

/** @define mobile-menu */

.mobile-menu {
  @include unstyle-list();

  padding-bottom: 1px;
}

.mobile-menu--sliding {
  position: relative;

  overflow: hidden;
}

.mobile-menu--sliding .mobile-menu__level {
  @include unstyle-list();

  position: absolute;
  top: 0;
  left: 100%;

  display: block;
  width: 100%;
  padding-bottom: 1px;
  visibility: hidden;

  transition: left $transition-duration $transition-fn-fancy, visibility $transition-duration;

  &.is-previous {
  }

  &.is-current {
    visibility: visible;
  }
}

.mobile-menu--sliding .mobile-menu__item {
}

.mobile-menu__item {
  margin-bottom: -1px;
}

.mobile-menu__item--section {
}

.mobile-menu__link {
  @include make-font-large();

  display: flex;
  padding: 15px 30px;

  align-items: center;

  line-height: 1.3;
  color: $color-gray--darker;
  text-decoration: none;

  border-top: 1px solid $color-gray--light;
  border-bottom: 1px solid $color-gray--light;

  &:hover {
    color: $color-blue;
  }
}

.mobile-menu__link.is-active {
  color: $color-blue;
}

.mobile-menu__text {
  order: 2;
  flex-grow: 1;

  pointer-events: none;

  @include word-break();
}

.mobile-menu__link__parent-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-left: 20px;

  order: 3;
}

.mobile-menu__link--back {
}

.mobile-menu__link__back-icon {
  width: 24px;
  height: 24px;
  min-width: 24px;
  margin-right: 8px;

  order: 1;
}

.mobile-menu__link--section {
  padding: 9px 30px;

  color: $color-white;

  background-color: $color-blue;

  &:hover {
    color: $color-white;
  }
}

.mobile-menu--collapsing {
  // Level 1
  .mobile-menu__level {
    .mobile-menu__link {
      background: $color-blue-astronaut;

      &.is-active {
        background: $color-blue-black-pearl;
      }
    }

    // Level 2
    .mobile-menu__level {
      .mobile-menu__link {
        padding-left: 35px;

        background-color: $color-blue-astronaut;

        &.is-active {
          background-color: $color-blue-bunting;
        }
      }

      // Level 3
      .mobile-menu__level .mobile-menu__link {
        height: 41px;
        padding-top: 10px;
        padding-bottom: 9px;

        color: $color-blue-astronaut;

        background-color: $color-blue-link-water;
        border-top: none;
        border-bottom: 1px solid $color-blue-blue-bayoux;

        &.is-active {
          background-color: $color-blue-link-water;
        }
      }
    }
  }
}

.mobile-menu--collapsing .mobile-menu__level {
  width: 100%;
  max-height: 0;
  padding: 0;
  margin: 0;
  visibility: hidden;
  overflow: hidden;

  list-style-type: none;

  // Watch out: prevent delayed closing with a bezier
  transition: max-height $transition-duration cubic-bezier(0, 1.05, 0, 1), visibility $transition-duration;

  &.is-open {
    // Watch out: work around, since no transition to `height: auto` is possible
    max-height: 3999px;
    visibility: visible;
  }
}

.mobile-menu--collapsing .mobile-menu__item {
}

.mobile-menu--collapsing .mobile-menu__item--back {
  display: none;
}

.mobile-menu--collapsing .mobile-menu__link--parent.is-active {
  // TODO
  // .icon--arrow-bottom;
}

// Copyright AXA Versicherungen AG 2015
