@import '../variables';

/** @define picker */

@mixin make-picker-cell {
  display: table-cell;

  height: 32px;
  width: 31px;
  padding: 0;
  border: 3px solid $color-gray--dark;

  text-align: center;
  vertical-align: middle;
}

.picker {
  display: none;
  position: absolute;

  width: 260px;
  border-collapse: collapse;
  margin-top: 6px;
  z-index: $z-index-datepicker;

  background: $color-gray--dark;

  &.is-active {
    display: block;
  }
}

.picker--with-weeknumber {
  width: 290px;
}

.picker__header {
  padding: 10px 10px 0;
  color: $color-white;
}

.picker__headline {
  margin: 0 30px;

  line-height: 31px;
  font-size: 1.1428em;
  text-align: center;
}

.picker__headline__month {
  display: inline;
  font-weight: bold;
}

.picker__prev,
.picker__next {
  display: block;

  width: 30px;
  height: 30px;

  text-align: center;

  cursor: pointer;

  &:hover {
    .picker__icon--next,
    .picker__icon--prev {
      fill: $color-gray--light;
    }
  }
}

.picker__icon--next,
.picker__icon--prev {
  display: inline-block;
  width: 11px;
  height: 17px;
  fill: $color-white;
}

.picker__prev {
  float: left;
  padding-top: 6px;
}

.picker__next {
  float: right;
  padding-top: 6px;
}

.picker__content {
  padding: 10px 17px 18px;
}

.picker__month {
  display: table;
  width: 100%;
}

.picker__weeks {
  display: table-row-group;
}

.picker__week {
  display: table-row;
}

.picker__day {
  @include make-picker-cell();

  color: $color-light-blue;
  background: $color-white;

  cursor: pointer;

  &:hover,
  &.is-active {
    background: $color-light-blue;
    color: $color-white;
  }
}

.picker__day--today {
  background: $color-gray--light;
}

.picker__day--headline {
  font-size: 0.9285em;

  background: transparent;
  color: $color-white;

  cursor: default;

  &:hover {
    background: transparent;
  }
}

.picker__day--prev-month,
.picker__day--next-month {
  background: $color-gray;
  color: $color-white;
}

.picker__day--disabled {
  background: $color-gray--dark;
  color: $color-white;

  cursor: default;

  &:hover {
    background: $color-gray--dark;
    color: $color-white;
  }
}

.picker__weeknumber {
  @include make-picker-cell();

  background: transparent;
  color: $color-white;
  font-size: 0.8em;
}

.picker__weeknumber--headline {

}

// Copyright AXA Versicherungen AG 2015
