@import '../variables';
@import '../mixins/font';

/** @define prolist */

$prolist_item_icon_size: 1.625rem;

.prolist {
  padding: 0;
  margin: 1.5rem 0 2rem;

  list-style-type: none;
}

.prolist__heading {
  @include make-font-heading-tertiary();

  margin: 0;
}

.prolist__item {
  margin: 0 0 1rem;
}

.prolist__item__icon {
  float: left;
  width: $prolist_item_icon_size;
  height: $prolist_item_icon_size;
  padding: 2px;

  // $todo: these font-size, line-height values should be coded in a central place as variables, that we can reuse it here.
  margin-top: ((1rem * 1.8) - $prolist_item_icon_size) / 2;

  color: $color-gray;
  fill: $color-gray;
  stroke: $color-gray;

  background: $color-white;
  border: 2px $color-gray solid;
  border-radius: $prolist_item_icon_size;

  @include respond(medium) {
    margin-top: ((1.0625rem * 1.8) - $prolist_item_icon_size) / 2;
  }
}

.prolist__item__content {
  @include make-font-large();

  margin: 0;
  margin-left: 2.25rem;
}

// Copyright AXA Versicherungen AG 2015
