@import '../mixins/invisible-input';
@import '../mixins/invisible-font';
@import '../mixins/ellipsis';
@import '../blocks/checkbox-group';
@import '../blocks/checkbox';
@import '../variables';

/** @define segmented-control */

.segmented-control {
  @extend .checkbox-group;

  .js & {
    @include invisible-font();
    display: inline-block;
    max-width: 100%;
    margin-top: 0; // reset inheritance of .checkbox-group

    white-space: nowrap;

    &:focus {
      outline: none;

      .segmented-control__item {
        border-top-color: $color-light-blue !important;
        border-bottom-color: $color-light-blue !important;

        &:first-of-type {
          border-left-color: $color-light-blue !important;
        }

        &:last-of-type {
          border-right-color: $color-light-blue !important;
        }
      }
    }

    &[disabled] {
      &:focus .segmented-control__item {
        border: 1px solid $color-gray !important;
      }

      .segmented-control__item {
        color: $color-gray;

        border: 1px solid $color-gray !important;

        &.is-active {
          color: $color-white;

          background-color: $color-gray;
        }
      }
    }
  }
}

.segmented-control__item {
  @extend .checkbox;

  .js & {
    @include undo-invisible-font();

    display: inline-block;
    height: 40px;
    padding-right: 8px;
    padding-left: 25px;

    line-height: 40px;
    cursor: pointer;

    border: 1px solid $color-gray;
    border-right-width: 0;

    &:last-of-type {
      border-right-width: 1px;
    }
  }

  &.is-active {
    color: $color-white;

    background: $color-light-blue;
    border-color: $color-light-blue;

    + .segmented-control__item {
      border-left-color: $color-light-blue;
    }
  }

  .segmented-control.has-error & {
    border-color: $color-red-error;
  }
}

.segmented-control__item__radio {
  @extend .checkbox__checkbox;

  .js & {
    @include invisible-input();
  }
}

.segmented-control__item__label {
  .js &::after {
    display: inline-block;
    width: 14px;
    min-height: 1px;
    margin-left: 5px;

    content: '';
  }
}

.segmented-control--stacked {
  .segmented-control__item {
    @include ellipsis();
    display: block;
    width: 100%;
    margin-bottom: -1px;

    border-right-width: 1px;

    &.is-active {
      border-top-color: $color-light-blue !important;

      + .segmented-control__item {
        border-top-color: $color-light-blue !important;
        border-left-color: $color-gray;
      }
    }
  }

  &:focus .segmented-control__item {
    border-color: $color-gray $color-light-blue !important;

    &:first-of-type {
      border-top-color: $color-light-blue !important;
    }

    &:last-of-type {
      border-bottom-color: $color-light-blue !important;
    }
  }
}

// Copyright AXA Versicherungen AG 2015
