@import '../variables';
@import '../mixins/font';

/** @define steps */

$steps-bullet-diameter: 32px !default;

.steps {}

.steps__heading {
  @include make-font-heading-tertiary();

  margin: 0;
}

.steps__info {
  @include make-font-large();

  margin: 0;
  margin-bottom: 1rem;
}

.steps__flow {
  padding: 0;
  margin: 0;

  list-style: none;

  counter-reset: steps;
}

.steps__step {
  position: relative;

  width: auto;
  padding: 0;
  margin: 0;
  margin-left: $steps-bullet-diameter / 2;

  border-left: 1px $color-gray solid;

  &:last-child {
    border-left: none;
  }
}

.steps__indicator {
  position: absolute;
  left: $steps-bullet-diameter / -2;

  width: $steps-bullet-diameter;
  height: $steps-bullet-diameter;

  font-size: 18px;
  font-weight: 600;
  line-height: $steps-bullet-diameter - 2px;
  color: $color-gray;
  text-align: center;

  background: $color-white;
  border: 2px $color-gray solid;
  border-radius: $steps-bullet-diameter;

  &::before {
    counter-increment: steps;

    content: counter(steps);
  }
}

.steps__content {
  padding-bottom: 20px;
  margin-left: 31px;
}

.steps__title {
  margin: 0 0 -8px;

  @include make-font-heading-tertiary();
}

.steps__description {
  @include make-font-large();
}

// Copyright AXA Versicherungen AG 2015
