@import '../variables';
@import '../mixins/font';

/** @define summary */

.summary {
  font-size: 19px;
}

.summary__heading {
  @include make-font-heading-tertiary();

  margin: 0;
}

.summary__label {
  @include make-font-large();

  margin: 0;
}

.summary__content {
  @include make-font-large-semibold();

  margin: 0;
}

.summary__items {
  padding: 0 0 20px;
  margin: 0;

  list-style: none;
}

.summary__item {
  padding: 0;
  margin: 1.5rem 0 0;
}

.summary__edit {
  @include make-font-large-semibold();
}

// Copyright AXA Versicherungen AG 2015
