@import '../variables';

/** @define tag */

.tag {
  display: inline;

  padding: 0.2em 0.6em 0.3em;

  font-size: 85%;
  line-height: 1;
  color: $color-white;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;

  background-color: $color-blue-gray;
  border-radius: 0.25em;
}

.tag--primary {
  background-color: $color-blue;
}

.tag--success {
  background-color: $color-green;
}

.tag--danger {
  background-color: $color-red;
}

// Copyright AXA Versicherungen AG 2015
