@import "../variables";

/** @define toc */

.toc {
}

.toc__title {
  margin: 30px 0 0;

  // TODO: font-size -1px
  color: $color-blue;
}

.toc__anchor-navigation {
  padding: 0;
  margin: 10px 0 0;

  list-style-type: none;

  border-left: 6px solid $color-blue;
}

.toc__anchor-navigation__item {
  padding: 0;
  margin: 14px 0 0 15px;

  &:first-child {
    margin-top: 0;
  }
}

.toc__anchor-navigation__link {
  color: $color-black;
  text-decoration: none;

  &:hover {
    font-weight: $font-weight-medium;
    color: $color-light-blue--light;
  }
}

// Copyright AXA Versicherungen AG 2015
