@import '../variables';

/** @define toggle */

.toggle {
  margin: 20px 0;
}

.toggle__button {
  display: block;
  margin: 20px 0 0;

  font-weight: $font-weight-medium;
  line-height: 30px;
  color: $color-light-blue;
  text-transform: uppercase;
  cursor: pointer;

  &:hover,
  &.is-active {
    color: $color-green;
  }
}

.toggle__content {
}

.toggle__icon {
  width: 2em;
  height: 2em;

  margin-right: 10px;

  color: $color-light-blue;
  vertical-align: middle;
}

// Copyright AXA Versicherungen AG 2015
