mixin inject(type)
  if process.env.NODE_ENV === 'production'
    if type === 'js'
      script(src=relative('/dist/docs.min.js'))
    if type === 'css'
      link(rel="stylesheet", href=relative("/dist/docs.min.css"))
  else
    if type === 'js'
      script(src=relative('/dist/docs.js'))
    if type === 'css'
      link(rel="stylesheet", href=relative("/dist/docs.css"))
