// This is the classic clearfix hack.
// FIXME: Consider the combinator clearfix!

@mixin clearfix {
  display: block;
  zoom: 1;

  &::after {
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;

    font-size: 0;

    content: " ";
  }
}

.clearfix {
  @include clearfix();
}

// Copyright AXA Versicherungen AG 2015
