@import "../variables";
@import "./respond";

$font-heading-primary--size: 1.75rem !default; // 28px
$font-heading-primary--weight: bold !default;
$font-heading-primary--line-height: 1.6 !default;

$font-heading-primary--size--medium: 3rem !default; // 48px
$font-heading-primary--line-height--medium: 1.4 !default;

/**
 * Primary Heading (H1 in PDF)
 *
 * Mobile: 28px (1.75rem), bold, 1.6
 * Desktop: 48px (3rem), bold, 1.4
 */
@mixin make-font-heading-primary() {
  font-size: $font-heading-primary--size;
  font-weight: $font-heading-primary--weight;
  line-height: $font-heading-primary--line-height;

  @include respond(medium) {
    font-size: $font-heading-primary--size--medium;
    line-height: $font-heading-primary--line-height--medium;
  }
}

.make-font-heading-primary {
  @include make-font-heading-primary();
}

$font-heading-secondary--size: 1.5rem !default; // 24px
$font-heading-secondary--weight: bold !default;
$font-heading-secondary--line-height: 1.6 !default;

$font-heading-secondary--size--medium: 2rem !default; // 32px
$font-heading-secondary--line-height--medium: 1.4 !default;

/**
 * Secondary Heading (H2 in PDF)
 *
 * Mobile: 24px (1.5rem), bold, 1.6
 * Desktop: 32px (2rem), bold, 1.4
 */
@mixin make-font-heading-secondary() {
  font-size: $font-heading-secondary--size;
  font-weight: $font-heading-secondary--weight;
  line-height: $font-heading-secondary--line-height;

  @include respond(medium) {
    font-size: $font-heading-secondary--size--medium;
    line-height: $font-heading-secondary--line-height--medium;
  }
}

.make-font-heading-secondary {
  @include make-font-heading-secondary();
}

$font-heading-tertiary--size: 1.25rem !default; // 20px
$font-heading-tertiary--weight: bold !default;
$font-heading-tertiary--line-height: 1.4 !default;

$font-heading-tertiary--size--medium: 1.5rem !default; // 24px
$font-heading-tertiary--line-height--medium: 1.6 !default;

/**
 * Tertiary Heading (H3 in PDF)
 *
 * Mobile: 20px (1.25rem), bold, 1.6
 * Desktop: 24px (1.5rem), bold, 1.4
 */
@mixin make-font-heading-tertiary() {
  font-size: $font-heading-tertiary--size; //22px
  font-weight: $font-heading-tertiary--weight;
  line-height: $font-heading-tertiary--line-height;

  @include respond(medium) {
    font-size: $font-heading-tertiary--size--medium; //24px
    line-height: $font-heading-tertiary--line-height--medium;
  }
}

.make-font-heading-tertiary {
  @include make-font-heading-tertiary();
}

$font-large--size: 1.0625rem !default; // 17px
$font-large--weight: normal !default;
$font-large--line-height: 1.6 !default;

$font-large--size--medium: 1.0625rem !default; // 17px
$font-large--line-height--medium: 1.8 !default; // make the font "feel" 19px as in design

/**
 * Large Font (H4 in PDF)
 *
 * Mobile: 17px (1.0625rem), normal, 1.6
 * Desktop: 17px (1.0625rem), normal, 1.6 (Should actually be 19px, but 19px doesn't render nicely)
 */
@mixin make-font-large() {
  font-size: $font-large--size;
  font-weight: $font-large--weight;
  line-height: $font-large--line-height;

  @include respond(medium) {
    font-size: $font-large--size--medium;
    line-height: $font-large--line-height--medium;
  }
}

.make-font-large {
  @include make-font-large();
}

$font-large-semibold--size: 1.0625rem !default; // 17px
$font-large-semibold--weight: $font-weight-medium !default;
$font-large-semibold--line-height: 1.6 !default;

$font-large-semibold--size--medium: 1.0625rem !default; // 17px
$font-large-semibold--line-height--medium: 1.8 !default; // make the font "feel" 19px as in design

/**
 * Large Semibold Font (H5 in PDF)
 *
 * Mobile: 17px (1rem), semibold (600), 1.6
 * Desktop: 17px (1.1875rem), semibold (600), 1.6 (Should actually be 19px, but 19px doesn't render nicely)
 */
@mixin make-font-large-semibold() {
  font-size: $font-large-semibold--size;
  font-weight: $font-large-semibold--weight;
  line-height: $font-large-semibold--line-height;

  @include respond(medium) {
    font-size: $font-large-semibold--size--medium;
    line-height: $font-large-semibold--line-height--medium;
  }
}

.make-font-large-semibold {
  @include make-font-large-semibold();
}

$font-medium--size: 0.875rem !default; // 14px
$font-medium--weight: normal !default;
$font-medium--line-height: 1.6 !default;

$font-medium--size--medium: 1rem !default; // 16px

/**
 * Medium Font (H6 in PDF)
 *
 * Mobile: 14px (0.875rem), normal, 1.6
 * Desktop: 16px (1rem), normal, 1.6
 */
@mixin make-font-medium() {
  font-size: $font-medium--size; //14px
  font-weight: $font-medium--weight;
  line-height: $font-medium--line-height;

  @include respond(medium) {
    font-size: $font-medium--size--medium; //16px
  }
}

.make-font-medium {
  @include make-font-medium();
}

$font-medium-semibold--size: 0.875rem !default; //14px
$font-medium-semibold--weight: $font-weight-medium !default;
$font-medium-semibold--line-height: 1.6 !default;

$font-medium-semibold--size--medium: 1rem !default; //16px

/**
 * Medium Semibold Font (H7 in PDF)
 *
 * Mobile: 14px (0.875rem), semibold (600), 1.6
 * Desktop: 16px (1rem), semibold (600), 1.6
 */
@mixin make-font-medium-semibold() {
  font-size: $font-medium-semibold--size; //14px
  font-weight: $font-medium-semibold--weight;
  line-height: $font-medium-semibold--line-height;

  @include respond(medium) {
    font-size: $font-medium-semibold--size--medium; //16px
  }
}

.make-font-medium-semibold {
  @include make-font-medium-semibold();
}

$font-small-semibold--size: 0.875rem !default; //14px
$font-small-semibold--weight: $font-weight-medium !default;
$font-small-semibold--line-height: 1.6 !default;

/**
 * Small Semibold Font (H8 in PDF)
 *
 * Mobile: n/a
 * Desktop: 14px (0.875rem), semibold (600), 1.6
 */
@mixin make-font-small-semibold() {
  font-size: $font-small-semibold--size; //14px;
  font-weight: $font-small-semibold--weight;
  line-height: $font-small-semibold--line-height;
}

.make-font-small-semibold {
  @include make-font-small-semibold();
}
