@import '../variables';
@import '../functions/max-width';

@mixin respond-max($condition) {
  $media: "";

  @if $condition == medium {
    $media: "max-width: #{max-width($respond-large-min-width)}";
  } @else if $condition == small {
    $media: "max-width: #{max-width($respond-medium-min-width)}";
  } @else {
    $media: "max-width: #{$condition}";
  }

  @media ($media) {
    @content;
  }
}
