@mixin richtext-styled-list($left: 1.1em, $style: "–") {
  ul {
    padding-left: $left;

    list-style-type: none;

    li {
      &::before {
        position: absolute;

        margin-left: -$left;

        content: $style; /* en dash */
      }
    }
  }
}

// $todo: this needs to be refactored after we have introduced a normalizing/resetting CSS file
@mixin richtext-lift-successor($first, $second: ul, $top: -17px) {
  #{$first} + #{$second} {
    margin-top: $top;
  }
}
